---
import { makeIssue } from "astro:schema";

const pageTitle = "About Me";
const identity = {
  firstName: "Kyle",
  country: "United States",
  occupation: "Engineering Manager",
  hobbies: ["reading, video games, tabletop games"],
};

const skills = ["Web Development", "Technical Leadership", "Writing"];
const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blahg</a>

    <h1>{pageTitle}</h1>
    <h2>A subheading like you've never seen</h2>

    <p>And what about this paragraph! Are you freaking kidding me!</p>
    <p>Great content. So great.</p>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as an {identity.occupation}
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            {" "}
            Two of my hobbies are: identity.hobbies[0] and {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial</p>}
    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
  </body>
</html>
